trace {
	enabled = true
	file = 'plots_trace.txt'
}
timeline {
	enabled = true
	file = 'plots_timeline.html'
}
process{
	module="R/3.2.3"
	scratch=true
	cache=false
	$WriteItolAnnotationFile{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
	$WriteItolDrawingConfigFiles{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
	$Figure1Trees{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
	$FigureS8Trees{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
}