trace {
	enabled = true
	file = 'realign_trace.txt'
}
timeline {
	enabled = true
	file = 'realign_timeline.html'
}
process{
	scratch=true
	cache=false
	$selectTaxa{
		cpus=1
		memory='1G'
		time='5m'
	}
	$realignSequences{
		module=["fasta/3.6","mafft/7.273"]
		cpus=12
	}
	$removeDRM{
		module="R/3.2.3"
	}
	$removeHXB2{
		cpus=1
		time='5m'
		memory='4G'
	}
}