executor {
    name = 'slurm'
    queueSize = 500
}
trace {
	enabled = true
	file = 'realign_trace.txt'
}
timeline {
	enabled = true
	file = 'realign_timeline.html'
}
process{
	executor='slurm'
	queue = 'common,dedicated'
	clusterOptions = "--qos=fast"
	errorStrategy='retry'
	maxRetries=100
	scratch=true
	cache=true
	$selectTaxa{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
	$realignSequences{
		module=["fasta/3.6","mafft/7.273"]
		cpus=12
		memory='10G'
	}
	$removeDRM{
		executor='local'
		module="R/3.2.3"
	}
	$removeHXB2{
		executor='local'
		cpus=1
		time='5m'
		memory='4G'
	}
}
