executor {
    name = 'slurm'
    queueSize = 500
}
trace {
	enabled = true
	file = 'supports_trace.txt'
}
timeline {
	enabled = true
	file = 'supports_timeline.html'
}
process{
	executor='slurm'
	queue = 'dedicated'
	clusterOptions = "--qos=bioevo"
	errorStrategy='retry'
	maxRetries=100
	scratch=true
	$getFiles{
		executor='local'
		cpus=1
		memory='500M'
		time='30s'
	}
	$computeSupports{
		cpus=6
		memory='30G'
		time='24h'
	}

	$analyzeSupports{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
}
