trace {
	enabled = true
	file = 'supports_trace.txt'
}
timeline {
	enabled = true
	file = 'supports_timeline.html'
}
process{
	scratch=true
	$getFiles{
		executor='local'
		cpus=1
		memory='500M'
		time='30s'
	}

	$computeSupports{
		cpus=6
		memory='30G'
		time='24h'
	}

	$analyzeSupports{
		executor='local'
		cpus=1
		memory='1G'
		time='5m'
	}
}
