executor {
    name = 'slurm'
    queueSize = 500
}
trace {
	enabled = true
	file = 'trees_trace.txt'
}
timeline {
	enabled = true
	file = 'trees_timeline.html'
}
process{
	executor='slurm'
	queue = 'dedicated'
	clusterOptions = "--qos=bioevo"
	errorStrategy='retry'
	maxRetries=100
	cache=true
	scratch=true
	$renameAlignment{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideAlignment{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRefFastTree{
		module='FastTree/2.1.7'
		memory='5G'
		time='20h'
		cpus=1
	}
	$bootstrapAlignments{
		cpus=3
		memory='5G'
		time='30m'
	}
	$runGroupedBootFastTree{
		module='FastTree/2.1.7'
		cpus=1
		memory='5G'
		time='2h'
	}
	$divideBootAlign{
		executor='local'
		cpus=1
		memory='2G'
		time='1h'
	}
	$runBootFastTree{
		module='FastTree/2.1.7'
		cpus=1
		memory='5G'
		time='2h'
	}
	$concatBootTreeFiles{
		executor='local'
		scratch=false
		cpus=1
		memory='500M'
		time='1h'
	}
}
