trace {
	enabled = true
	file = 'trees_trace.txt'
}
timeline {
	enabled = true
	file = 'trees_timeline.html'
}
process{
	scratch=true
	cache=true
	$renameAlignment{
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideAlignment{
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRefFastTree{
		module='FastTree/2.1.7'
		memory='5G'
		time='20h'
		cpus=1
	}
	$bootstrapAlignments{
		cpus=3
		memory='5G'
		time='30m'
	}
	$runGroupedBootFastTree{
		module='FastTree/2.1.7'
		cpus=1
		memory='5G'
		time='24h'
	}
	$divideBootAlign{
		cpus=1
		memory='2G'
		time='1h'
	}
	$runBootFastTree{
		module='FastTree/2.1.7'
		cpus=1
		memory='5G'
		time='15h'
	}
	$concatBootTreeFiles{
		scratch=false
		cpus=1
		memory='500M'
		time='1h'
	}
}
