trace {
	enabled = true
	file = 'plots_trace.txt'
}
timeline {
	enabled = true
	file = 'plots_timeline.html'
}
process{
	scratch=true
	cache=true
	$FigureS10Depth{
		module='R/3.2.3'
	}
	$FigureS10Size{
		module='R/3.2.3'
	}
	$FigureS10Conflict{
		module='R/3.2.3'
	}
	$FigureS10S11Depth{
		module='R/3.2.3'
	}
	$FigureS10S11Size{
		module='R/3.2.3'
	}
	$FigureS10S11Conflict{
		module='R/3.2.3'
	}
	$FigureS12Rogues{
		module='R/3.2.3'
	}	
}
