executor {
    name = 'slurm'
    queueSize = 2000
}

trace {
	enabled = true
	file = 'trees_raxml_trace.txt'
}

timeline {
	enabled = true
	file = 'trees_raxml_timeline.html'
}

process{
	executor='slurm'
//	queue = 'common,dedicated'
//	clusterOptions = "--qos=fast"
//	errorStrategy='retry'
	queue = 'common'
	clusterOptions = "--qos=normal"
	errorStrategy='retry'
	maxRetries=100
	cache=true
	scratch=true
	$gentruetrees{
		executor='local'
		cpus=1
		memory='500M'
		time='1m'
	}
	$simulatefasta{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$inferreftree{
		cpus=5
		memory='4G'
		time='24h'
	}
	$inferboottrees{
		cpus=5
		memory='4G'
		time='24h'
	}
	$bootalignments{
		cpus=1
		memory='4G'
		time='2h'
	}
	$bootsimualignments{
		cpus=1
		memory='4G'
		time='2h'
	}
	$divideboots{
		cpus=1 
		memory='500M'
		time='10m'
	}
	$concatboottrees{
		executor='local'
		cpus=1
		memory='500M'
		time='10m'
	}
	$supportsample{
		cpus=5
		memory='2G'
		time='2h'
	}
	$support{
		cpus=5
		memory='2G'
		time='30m'
	}
	$toSupportData{
		executor='local'
		cpus=1
		memory='2G'
		time='10m'
	}
	$plotCompareFBPTBE{
		executor='local'
		module='R/3.2.3'	
	}
}
