trace {
	enabled = true
	file = 'trees_trace.txt'
}
timeline {
	enabled = true
	file = 'trees_timeline.html'
}
process{
	cache=true
	scratch=true
	$getOriginalTree{
		executor='local'
		cpus=1
		memory='500M'
		time='1m'
	}
	$simulateFasta{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$shuffleOriginalFasta{
		cpus=1
		memory='500M'
		time='10m'
	}
	$divideAlignment{
		scratch=true
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRefFastTree{
		cpus=6
		memory='4G'
		time='2h'
	}
	$bootstrapAlignments{
		cpus=6
		memory='4G'
		time='2h'
	}
	$bootstrapSimuAlignments{
		cpus=1
		memory='4G'
		time='4h'
	}
	$divideBootAlign{
		cpus=1 
		memory='500M'
		time='10m'
	}
	$concatBootTreeFiles{
		cpus=1
		memory='500M'
		time='10m'
	}
}
