process{
	cache=true
	scratch=true
	$preprocessTree{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideTreeIntoEdges{
		executor='local'
		cpus=5
		memory='5G'
		time='10m'
	}
	$analyzeStarEdges{
		cpus=1
		memory='1G'
	}
	$transferDistTrue{
		cpus=5
		memory='5G'
		time='100m'
	}
	$classicalDistTrue{
		cpus=1
		memory='5G'
		time='100m'
	}
	$transferSupport{
		cpus=5
		memory='1G'
		time='3h'
	}
	$classicalSupport{
		cpus=1
		memory='5G'
		time='1h'
	}
	$groupInfos{
		executor='local'
	}
}
