trace {
	enabled = true
	file = 'supports_trace.txt'
}
timeline {
	enabled = true
	file = 'supports_timeline.html'
}
process{
	scratch=true
	cache=true
	$getFiles{
		executor='local'
		cpus=1
		memory='500M'
		time='30s'
	}
	$computeSupports{
		cpus=10
		memory='1G'
		time='24h'
	}
	$analyzeSupports{
		cpus=1
		memory='1G'
		time='10m'
	}
}
