executor {
    name = 'slurm'
    queueSize = 500
}
trace {
	enabled = true
	file = 'supports_trace.txt'
}
timeline {
	enabled = true
	file = 'supports_timeline.html'
}
process{
	executor='slurm'
	queue = 'common,dedicated'
	clusterOptions = "--qos=fast"
	errorStrategy='retry'
	maxRetries=100
	scratch=true
	cache=true
	$getFiles{
		executor='local'
		cpus=1
		memory='500M'
		time='30s'
	}
	$computeSupports{
		cpus=10
		memory='1G'
		time='2h'
	}
	$analyzeSupports{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
}
