process{
	cache=true
	scratch=true
	$getOriginalTree{
		executor='local'
		cpus=1
		memory='500M'
		time='1m'
	}
	$simulateFasta{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$shuffleOriginalFasta{
		cpus=1
		memory='500M'
		time='10m'
	}
	$divideAlignment{
		scratch=true
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRefFastTree{
		module=['FastTree/2.1.8','phyml','perl/5.22.0']
		cpus=1
		memory='5G'
		time='15h'
	}
	$bootstrapAlignments{
		cpus=6
		memory='4G'
		time='2h'
	}
	$runGroupedBootFastTree{
		module='FastTree/2.1.8'
		cpus=1
		memory='5G'
		time='24h'
	}
	$divideBootAlign{
		cpus=1 
		memory='500M'
		time='10m'
	}
	$concatBootTreeFiles{
		cpus=1
		memory='500M'
		time='10m'
	}
}
