process{
	scratch=true
	cache=true
	$reftree{
		executor='local'
		cpus=1
		memory='5G'
		time='10m'
	}
	$gentrees{
		cpus=1
		memory='5G'
	}
	$comptransfer{
		cpus=1
		memory='5G'
	}
	$ConcatStats{
	}
	$meanDistance{
		cpus=1
		memory='2G'
		time='30m'
		module='R/3.2.3'
	}
	$plotstats{
		executor='local'
		cpus=1
		memory='500m'
		time='2m'
		module='R/3.2.3'
	}
}