process{
	scratch='true'
	cache='false'
	$Figure2Right{
		
	}
	$FigureS5{
		
	}
	$FigS5RAxMLStats{
	}
	$FigS5FastTreeStats{
	}
	$FigureS3Depth{
		module='R/3.2.3'
	}
	$FigureS3Size{
		module='R/3.2.3'
	}
	$FigureS3Conflict{
		module='R/3.2.3'
	}
	$FigureS4Depth{
		module='R/3.2.3'
	}
	$FigureS4Size{
		module='R/3.2.3'
	}
	$FigureS4Conflict{
		module='R/3.2.3'
	}
	$FigureS6{
	}
	$FigureS6Stats{
	}
}