trace {
	enabled = true
	file = 'quartets_trace.txt'
}
timeline {
	enabled = true
	file = 'quartets_timeline.html'
}
process{
	scratch=true
	cache=true
	$preprocessTree{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideTreeIntoEdges{
		cpus=5
		memory='5G'
		time='10m'
		executor='local'
	}
	$analyzeStarEdges{
		cpus=1
		memory='1G'
	}
	$transferDistTrue{
		cpus=5
		memory='5G'
		time='100m'
	}
	$classicalDistTrue{
		cpus=1
		memory='5G'
		time='100m'
	}
	$transferSupport{
		cpus=5
		memory='1G'
		time='3h'
	}
	$classicalSupport{
		cpus=1
		memory='5G'
		time='1h'
	}
	$groupInfos{
		executor='local'
	}
}
