process{
	scratch=true
	cache=true
	$alignmentToFasta{
		executor='local'
		cpus=1
		memory='500M'
		time='1m'
	}
	$selectOneSequenceSpecies{
		module='R/3.2.3'
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideAlignment{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRAxML{
		memory='20G'
		cpus=10
	}
}
