trace {
	enabled = true
	file = 'trees_trace.txt'
}
timeline {
	enabled = true
	file = 'trees_timeline.html'
}
process{
	scratch=true
	cache=true
	$alignmentToFasta{
		executor='local'
		cpus=1
		memory='500M'
		time='1m'
	}
	$selectOneSequenceSpecies{
		module='R/3.2.3'
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$divideAlignment{
		executor='local'
		cpus=1
		memory='1G'
		time='10m'
	}
	$runRefFastTree{
		module=['FastTree/2.1.8','phyml']
		time='15h'
		cpus=1 
	}
	$runRefPhyML{
		module='phyml'
		cpus=1
		scratch=true
	}
	$runRefRaxML{
		cpus=2
		memory='1G'
		scratch=true
	}
	$bootstrapAlignments{
		cpus=1
		memory='1G'
		time='10m'
	}
	$runGroupedBootFastTree{
		module='FastTree/2.1.8'
		cpus=1
		memory='1G'
		time='24h'
	}
	$divideBootAlign{
		cpus=1
		memory='500M'
		time='10m'
		scratch=true
	}
	$runBootFastTree{
		module='FastTree/2.1.8'
		cpus=1
		memory='1G'
		time='15h'
		scratch=true
	}
	$concatBootTreeFiles{
		scratch=true
		cpus=1
		memory='500M'
		time='10m'
	}
}
